*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    padding: 20px 50px;  /* Adjust padding as needed */
    top: 0;
    left: 0;
    z-index: 1000;  /* Make sure it's above other content */
    /* transition: padding 0.3s ease-in-out; */
}

.navbar.fixed{
    background-color: #fff;
}

/* Sticky navbar appearance */
/* .navbar.sticky {
    position: sticky;

    padding: 5px 50px;  /* Optionally reduce padding when navbar sticks */
  /* Maintain background color */
/* } */

/* Logo styles */
.logo a {
    font-size: 25px;
    font-weight: 500;
    color: #ff305B;
}

/* Menu and navigation styles */
.menu ul {
    display: flex;
    padding-right: 50px;
}

.menu ul li a {
    padding: 10px 20px;
    display: inline-block;
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}

/* Active link styling */
.menu ul li .active {
    color: #ff305B;
}

/* Hover effect for links */
.menu ul li a:hover {
    color: #ff305B;
    transition: 0.3s;
}
.home{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.8) 100%), url(../images/slider-02.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
}
.scroll-top{
    background-color: rgba(255, 48, 91,.5);
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: fixed;
    left: 90%;
    bottom: 40px;
    animation: zoom 2s ease-in-out infinite;
    visibility: hidden;
    z-index: 0;
}
.show-link{
    visibility: visible;
    z-index:9999;
}
@keyframes zoom {
    0%, 100% {
        transform: scale(1); /* Original size */
    }
    50% {
        transform: scale(1.5); /* Zoom in */
    }
}
.contentparent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 50%;
    text-align: center;
    font-family: "Roboto";
}
.content h2{
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    z-index: 999;
    font-family: "Roboto";
    padding-bottom: 10px;

}
.content h1{
    text-transform: uppercase;
    color: #ff305B;
    font-size: 70px;
    font-weight: 700;
    line-height:77px ;
}
.content h4{
    color: white;
    line-height: 36.6px;
    font-size: 30px;
    font-weight: 400;

}

.icon{
    width: 40px;
    height: 40px;
    padding: 10px 10px 10px 13px ;
    border-radius: 50%;
    background-color: #ff305B;
}
.about{
    width: 70%;
    display: flex;
    margin: auto;
    padding: 100px 0px;
}
.shape{
    width: 40%;
}
.aboutcontent{
    width: 60%;
    margin-left: 55px;
}
.border{
    width: 380px;
    height: 390px;
    background-color: white;
    border: 8px solid gray;
    border-radius: 3px;
    position: relative;

}
.imgwork{
    width: 100%;
    position: absolute;
    top: 17px;
    left: 22px;
position: relative;
overflow: hidden;
}
.imgwork img{
    width: 100%;
    border-radius: 3px;
    height: 377px;

}
.color{
    width: 100%;
    height: 400px;
    background-color: rgba(85, 85, 85, .9);
    position: absolute;
    top: 100%;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 1s,top  1s;
    display: hidden;
    display: flex;
    justify-content: center;
    align-items:center ;
    text-align: center;

}
i{
    width: 50px;
    height: 50px;
    border: 50%;
    padding: 3px;
    color: white;
}
.imgwork:hover .color {
    opacity: 1;
    top: 0%;
    transition: 1s;
}

.aboutcontent h2{
    color: #333333
 ;
 font-weight: 600;
 text-transform: capitalize;
 font-size: 35px;
 font-family: "Roboto";
 padding-bottom: 15px;
 padding-top: -10px;
 font-family: "Roboto";

}

.aboutcontent h2 span{
    color: #ff305B;
    font-family: "Roboto";

}
.aboutcontent p{
    color: #555555;
    font-family: "Roboto";
    font-size: 16px;    font-family: "Roboto";

    font-weight: 400;
    line-height: 1.6;
    padding-bottom: 15px;
}
.group{
    display: flex;
    line-height: 1.2;
    padding-bottom: 20px;
    font-family: "Roboto";




}
.group h3{
    margin-right: 100px;
    color: #555555;
    font-family: "Roboto";

}
.g2{
    margin-left: 55px;
    font-family: "Roboto";

}
.group h3 span{
    color: black;
    font-family: "Roboto";

}
.g3{
    color: #555555;
    font-family: "Roboto";
    font-weight: 600;

}
.g4{
    color: #555555;
    font-family: "Roboto";
    font-weight: 600;

}
.group3{
    display: flex;
}
.group3 .g3{
    padding-right: 115px;
}
.g4 .s{
    color: black;
    font-family: "Roboto";
    font-weight: 600;

}
.g3 .s{
    
        color: black;
        font-family: "Roboto";
        font-weight: 600;
    
    
    
}

.btn{
    width: 175px;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 6px;
    color: white;
    background-color: #ff305B;
    border: 1px solid  #ff305B ;
    font-size: 17px;
    font-weight: 500;
    transition: background-color 1s;
}
.hire{
    width: 130px;
}

.btn:hover{
    background-color: orangered;
    transition: 1s;
}
.services{
    width: 75%;
    margin: auto;
    text-align: center;

}
.services h2{
    padding-bottom: 25px;

}
.our{
    font-weight: 800;
    font-size: 40px;
    font-family: "Roboto";
    padding-bottom: 20px;
    text-transform: capitalize;
    color: #555555;

}
.servicesection{
    width: 100%;
    background-color: RGB(241, 241, 241)
    ;
    padding: 100px 0px;

}
.item p{
     color: RGB(85, 85, 85)    ;
    
}
.row{
    display: flex;

}
.row .item{
    text-align: center;
    padding: 40px 40px;
    transition: background-color 1s ;
    border-radius: 3px;
    margin-top: 13px;
}
.item h2{
text-transform: capitalize;
}
.item:hover{
    background-color: #fff
;
    transition: 1s;
    z-index: 999;
}
.item i{
    transition: transform 1s;
    font-size: 25px;
    color: #ff305B;
}
 .item:hover i{
    transform: scale(1.5);
    transition: 1s;
}
.container{
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 80px 0px;

}
.container .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.container h2{
    font-weight: 800;
    font-size: 40px;
    font-family: "Roboto";
    padding-bottom: 20px;
    text-transform: capitalize;
    color: #555555;

}

.row .child{
    width: 30%;
    margin-right: 30px;
    margin-bottom: 30px;
}
.child img{
    width: 100%;
}
.container a{
    color: black;
    padding: 10px;
    display: inline-block;
    padding-bottom: 45px;
    font-family: "Roboto";
font-size: 16px;
font-weight: 400;
text-transform: capitalize;


}
.child .img{
    position: relative;
    overflow: hidden;
}
.poi{
    position: relative;
    top:90%;
    left: 40%;
    color: #ff305B;
    width: 40px;
}
.portview{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51,.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
    
}
.child:hover .portview{
    opacity: 1;
    transition: 1s;
}
.line{
    width: 100px;
    height: 1px;
    background-color: #ff305B;
    text-align: center;
    margin-bottom: 7px;
    margin-left: 40px;
}
.liness{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.line2{
    width: 200px;
    height: 1px;
    background-color: #ff305B;
    text-align: center;
    margin-bottom: 7px;

}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}
.imgm{
}
.imgm img{
    position: relative;
    width: 30%;
    height: 30%;
    top: 165px;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 100px;
    right: 35%;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}



.section{
    width: 100%;
    background-color:RGB(241, 241, 241) ;
    padding: 100px 0px;
}
.sec{
    width: 80%;
    margin: auto;
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.row .itemsec{
    width: 30%;
    text-align: center;
}
.itemsec i{
    color: #ff305B;
    font-size: 26px;
    margin-bottom: 10px;
}
.itemsec h3{
    font-weight: 800;
    color: RGB(51, 51, 51)    ;
    font-size: 26px;
    font-family: "Roboto";
}
.itemsec h4{
    font-family: "Roboto";
    font-weight: 600;
    font-size: 16px;
    font-weight: 800;
    color: RGB(85, 85, 85)    ;


}

.testmonial{
    width: 100%;
    display: flex;
justify-content: center;
align-items: center;
padding: 100px 0px;

}
.head h2{
    padding-bottom: 20px;
    font-weight: 800;
    color: RGB(51, 51, 51)    ;
    font-size: 35px;
    font-family: sans-serif;

}
.testcont{
    width: 80%;
text-align: center;

}
.contentimg #img-person{
    border-radius: 50%;
    position: absolute;
    width: 14%;
    height: 30%;
    top: 50px;
    left: 30px;
    z-index: 999;

}
.contentimg{
    position: relative;
    background: linear-gradient(to left top, RGB(241, 241, 241) 80%, #ff305B 20%);
    margin: auto;
    padding: 20px;
    width: 60%;
    height: 45vh;
    padding-bottom: 20px;
    border-radius: 8px;

}
.arrows{
    text-align: center;
    margin-left: 40px;
}
.contentimg #img{
    width: 20%;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 30px;

}
/* 
.contentimg #image{
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 30px;
} */
.contentimg .content{
   padding-left: 200px;
    text-align: start;
    

}
.content i{
    padding: 0;
    font-size: 16px;
    color: RGB(85, 85, 85)    ;

}
.content h3{
    font-family: "Roboto";
font-size: 26px;
color: #333333;
padding-bottom: 5px;
margin-top: 20px;

}
.content p{
    font-size: 15px;
    color: RGB(85, 85, 85)    ;
    font-family: "Roboto";
font-weight: 400;
padding-top: 0;
padding-bottom: 7px;
}
.stars{
    display: flex;
    justify-content: center;
    align-items: center;
}
.stars .star{
    color: #f1c30d;
}
.content span{
    color: #333333;
}
.ourblog{
    width: 100%;
    background-color: RGB(241, 241, 241)   ;
    padding: 80px 0px;

}
.blogcontainer{
    width: 80%;
    margin: auto;
    text-align: center;
}
.blogitems{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogitem{
    width: 30%;
    margin-right: 30px;
    background-color: #fff   ;
    text-align: start;
    padding-bottom: 15px;
    border-radius: 3px;
    font-family: "Roboto";

}
.blogitem i{
    color: #333333;
    font-size: 20px;
}
.blogitem img{
    width: 100%;
    padding-bottom: 15px;
}
.blogitem iframe{
    width: 100%;
    padding-bottom: 15px;
    height: 30vh;

}
.blogitem h3{
    padding-bottom: 15px;
font-weight: 600;
font-size: 27;
color: RGB(51, 51, 51)    ;
font-family: "Roboto";
}
.blogitem p{
    padding-bottom: 15px;
    color:gray;
font-weight: 400;
font-size: 18px;
font-family: "Roboto";


}
.text{
    padding: 10px;
    font-family: "Roboto";

}
.blogcontainer h2{
    padding: 15;
    font-family: "Roboto";

}
.text h4{
    color: #555555;
    font-size: 15px;
    font-family: "Roboto";
    display: inline-block;

}
.text .date{
    color: #555555;
    font-family: "Roboto";

}
.contact{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 100px 0px;
}
.contact h2{
    color: RGB(81, 81, 81)  ;
    font-size: 35px;
    font-family: "Roboto";
    padding-bottom: 12px;

}
.ourcontact{
    width: 50%;
    height: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

}
.one input{
    width: 340px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}
.one{
    padding-top: 20px;
    padding-bottom: 40px;
    

}
.form .subject{
    width: 700px;
    height: 40px;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 20px;

}
.form textarea{
    width: 700px;
    height: 90px;
    border-radius: 7px;
    padding: 10px;

}
.contact{
    padding-top: 110px;
    padding-bottom: 160px;
}
.form{
}
.form button{
    /* text-align: center;
    margin-right:450px;
    margin-top: 15px; */
    position: absolute;
    top: 100%;
    left: 70px;
    padding: 20px;
    margin-top: 35px;
    text-align: center;
    display: flex;
    align-items:center ;
    justify-content: center;
}

.lastcontainer{
    width: 100%;
    background-color: RGB(85, 85, 85)
    ;
    padding: 60px 0px;
}
.last{
    width: 30%;
    margin: auto;
}
.media li{
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-left: 5px;
}
i{
    padding-right: 30px;
    padding-top: 12px;
    padding-left: 15px;
    color: white;

}
.i{
    margin-left: 80px;
    padding: 0px 15px;

}
.media p{
    margin-right: 55px;
    color: white;
    font-size: 16px;
    padding-bottom: 18px;
    font-family:  "Roboto";

}
.media p span{
    color: #ff305B;
}
